In [1]:
# Import libraries
import pandas as pd

In [2]:
# Read data
df = pd.read_csv('hoteldata.csv')
df.head()

,Date,Rating,Title,Review
0,Date of stay: December 2022,50,Excellent customer services,I’ve received excellent and courteous services...
1,Date of stay: December 2022,10,"Park Hyatt, where's the passion?",We went to Park Lounge to enjoy breakfast and ...
2,Date of stay: December 2022,50,Everything I thought it would be,Charming and beautiful hotel near everything r...
3,Date of stay: December 2022,50,beautiful hotel and excellent service,very pleasant stay. Extremely professional ser...
4,Date of stay: December 2022,50,Extraordinary,I stayed in Pak Hyatt for a week in December 2...

In [3]:
print(f'Data has {df.shape[0]} rows and {df.shape[1]} columns')

Data has 100 rows and 4 columns

In [4]:
df.dtypes

Date      object
Rating     int64
Title     object
Review    object
dtype: object

In [5]:
# change 'Rating' by divide to 10
df['Rating'] = df['Rating'] / 10
df.head(10)

,Date,Rating,Title,Review
0,Date of stay: December 2022,5.0,Excellent customer services,I’ve received excellent and courteous services...
1,Date of stay: December 2022,1.0,"Park Hyatt, where's the passion?",We went to Park Lounge to enjoy breakfast and ...
2,Date of stay: December 2022,5.0,Everything I thought it would be,Charming and beautiful hotel near everything r...
3,Date of stay: December 2022,5.0,beautiful hotel and excellent service,very pleasant stay. Extremely professional ser...
4,Date of stay: December 2022,5.0,Extraordinary,I stayed in Pak Hyatt for a week in December 2...
5,Date of stay: December 2022,5.0,Just great,I could not expect more. The location is wonde...
6,Date of stay: December 2022,5.0,Awesome experience At Park Hyatt,Located in a very strategic place if you’re lo...
7,Date of stay: December 2022,5.0,Great Park Hyatt,A great hotel in a great location. I haven’t s...
8,Date of stay: November 2022,5.0,"A wonderful, refined Park Hyatt property",If I'm being frank I wasn't expecting to like ...
9,Date of stay: November 2022,5.0,awesome,wonderful experience. My room had even a fruit...